<!doctype html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" /> 
    <meta name="robots" content="noodp,noydir" />
    <title>I Drive Safely&reg; &#8211; Customer Support</title>
    <link rel='dns-prefetch' href='https://www.idrivesafely.com' />
    <link rel='dns-prefetch' href='https://maxcdn.bootstrapcdn.com' />
    <link rel="canonical" href="https://idrivesafelysandbox.zendesk.com/hc/en-us" />
    <meta name="description" content="I Drive Safely offers Customer Support 7 days a week." />
    <meta name="keywords" content="I Drive Safely, idrivesafely, Customer Support, customer service, customer service representative, online customer service, live chat customer service, customer service chat, drivers education, driving lessons, insurance, Aceable" />
<!-- Facebook, Twitter sharing -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Contact Us - I Drive Safely&reg; Help Center" />
    <meta property="og:url" content="https://idrivesafelysandbox.zendesk.com/hc/en-us" />
    <meta property="og:site_name" content="I Drive Safely&reg; Help Center" />
    <meta property="og:image" content="https://help.aceable.com/wp-content/uploads/2015/04/Google-Play-Store-download-300x91-1-1.png" /><!-- yikes, these aren't even IDS -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="I Drive Safely&reg; offers Customer Support 7 days a week" />
    <meta name="twitter:image" content="https://help.aceable.com/wp-content/uploads/2015/04/Screen-Shot-2016-12-07-at-2.31.26-PM-1-1.png" />
<!-- Start of aceable Zendesk Widget script -->
    <!--
        <script id="ze-snippet" src="//static.zdassets.com/ekr/snippet.js?key=3219501f-8059-41e0-9104-05a3125815b5"></script>
    -->
<!-- End of aceable Zendesk Widget script -->
<!-- Critical site stylesheets -->
    <link rel='stylesheet' id='enterprise-css' href='{{asset 'enterprise.css'}}' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css' href='{{asset 'custom.css'}}' type='text/css' media='all' />
    <link rel='stylesheet' id='help-style-css' href='{{asset 'help-style.css'}}' type='text/css'  media='all' />
<!-- Bells n whistles -->
    <link rel='stylesheet' id='animate-css' href='{{asset 'animate.css'}}' type='text/css' media='all' />
    <link rel='stylesheet' id='hover-css' href='{{asset 'hover.css'}}' type='text/css' media='all' />
<!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen|Titillium+Web" type='text/css'  media='all' />
<!-- Dashicons -->
    <link rel='stylesheet' id='dashicons-css' href='{{asset 'dashicons.min.css'}}' type='text/css'  media='all' />
<!-- Scripts -->
    <script type="text/javascript" async defer src="{{asset 'jquery.js'}}"></script>
    <script type="text/javascript" async defer src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" async defer src="{{asset 'jquery-migrate.min.js'}}"></script>
    <script type="text/javascript" async defer src="{{asset 'jquery-modal.min.js'}}"></script>
    <script type="text/javascript" async defer src="{{asset 'parallax.min.js'}}"></script>
    <script type="text/javascript" async defer src="{{asset 'imagesloaded.js'}}"></script>
    <script type="text/javascript" async defer src="{{asset 'advsearch.js'}}"></script>
    <script type="text/javascript" async defer src="{{asset 'typeahead.bundle.js'}}"></script>
    <script type="text/javascript" async defer src="{{asset 'faq.min.js'}}"></script>
    <script type="text/javascript" async defer src="{{asset 'custom-minified.js'}}"></script>
<!-- Material design UI -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons' type='text/css'  media='all' />
    <link rel='stylesheet' href='https://unpkg.com/material-components-web@0.8.0/dist/material-components-web.min.css' type='text/css'  media='all' />
    <script type="text/javascript" async defer src="{{asset 'mdc.js'}}"></script>
    <link rel='stylesheet' id='mdc-css' href='{{asset 'mdc.css'}}' type='text/css'  media='all' />
    <style>
    /*
    If style overrides are needed after the initial cascade, place them here 
    */
    </style>
<!-- FontAwesome -->
    <script async src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>