<body class="page-template page-template-support page-template-support-php page page-id-635 custom-header header-full-width full-width-content ">
            <div class="site-container">
            <script>
                var t_bodystart = new Date().getTime();
            </script>
           <script type="application/json">
                dataLayer.push({
                    'Product': '',
                    'Coupon': 'PGDTXIDSAA|CECPDISC|CEDEFDIS',
                    'Channel': '',
                    'State': '',
                    'CourseId': '',
                    'VWOTestId': '',
                    'VWOVariation': '',
                    'SiteDesign': 'NEW'
                }
             ]
            </script>
<div class="top-nav-p">
    <div class="wrap">
        <section id="nav_menu-9" class="widget widget_nav_menu">
            <div class="widget-wrap">
                <div class="menu-top-nav-container">
                    <ul id="menu-top-nav" class="menu">
                        <li id="menu-item-34571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34571"><a href="https://www.idrivesafely.com/about-us/">About Us</a></li>
                        <li id="menu-item-34572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34572">{{#link 'help_center'}}Help Center{{/link}}</li>
                        <li id="menu-item-34573" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34573"><a href="https://www.idrivesafely.com/defensive-driving/trending/">Trending</a></li>
                        <li id="menu-item-34574" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34574"><a href="https://www.idrivesafely.com/signup/displayAccessCodePage.pl">Redeem Code</a></li>
                      	<li id="menu-item-34575" class="sign-in menu-item menu-item-type-post_type menu-item-object-page menu-item-34575">{{user_info}}</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
<header class="site-header">
    <div class="wrap">
        <div class="title-area"><span class="site-title">
         	 {{#link 'help_center'}}
      			<img src="{{logo_url}}" alt="{{t 'logo'}}" width="220" height="88">
   				 {{/link}}
{{!--	<span class="school-no">CP022, School # C3249</span> --}}
          </span>
            <span class="site-description">We build safer drivers<!--<img src="//prodwpids-idrivesafely.netdna-ssl.com/wp-content/themes/enterprise-pro/images/tagline.png" alt="We build safer drivers" width="228" height="56">--></span>
        </div>
    </div>
</header>

<nav class="nav-primary" aria-label="Main">
    <div class="wrap">
        <div id="responsive-menu-icon"><span></span></div>
        <div id="responsive-logo">
        <!--  <a href="https://www.idrivesafely.com" id="responsive-menu-anchor"></a>
{{!-- #link 'help_center' --}}
      			<img src="{{logo_url}}" alt="{{t 'logo'}}" width="220" height="88">
-->
        </div>
        <ul id="menu-primary-navigation" class="menu genesis-nav-menu menu-primary responsive-menu">
            <li id="menu-item-34836" class="mobile-nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-34836"><a href="https://www.idrivesafely.com/about-us/"><span>About Us</span></a></li>
            <li id="menu-item-34837" class="mobile-nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-34837">{{#link 'help_center'}}<span>Help Center</span>{{/link}}</li>
            <li id="menu-item-34838" class="mobile-nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-34838"><a href="https://www.idrivesafely.com/login/"><span>Log In</span></a></li>
            <li id="menu-item-34839" class="ticket-violations menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-34839"><a><span>Tickets &amp; Violations</span></a>
                <ul class="sub-menu">
                    <li id="menu-item-34840" class="defensive-driving-menu menu-item menu-item-type-post_type menu-item-object-category_products menu-item-34840"><a href="https://www.idrivesafely.com/defensive-driving/"><span>Defensive Driving</span></a></li>
                    <li id="menu-item-34841" class="driver-improv-menu menu-item menu-item-type-post_type menu-item-object-category_products menu-item-34841"><a href="https://www.idrivesafely.com/driver-improvement/"><span>Driver Improvement</span></a></li>
                    <li id="menu-item-34842" class="traffic-school-menu menu-item menu-item-type-post_type menu-item-object-category_products menu-item-34842"><a href="https://www.idrivesafely.com/traffic-school/"><span>Traffic School</span></a></li>
                </ul>
            </li>
            <li id="menu-item-34843" class="drivers-ed-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-34843"><a><span>Drivers Ed</span></a>
                <ul class="sub-menu">
                    <li id="menu-item-34844" class="drivers-ed menu-item menu-item-type-post_type menu-item-object-category_products menu-item-34844"><a href="https://www.idrivesafely.com/drivers-ed/"><span>Drivers Ed</span></a></li>
                    <li id="menu-item-34845" class="practice-test menu-item menu-item-type-post_type menu-item-object-practice_test_page menu-item-34845"><a href="https://www.idrivesafely.com/practice-test/"><span>Practice Test/Driver Prep</span></a></li>
                    <li id="menu-item-34846" class="in-car-lessons menu-item menu-item-type-post_type menu-item-object-page menu-item-34846"><a href="https://www.idrivesafely.com/behind-the-wheel-drivers-training/"><span>Behind the Wheel Drivers Training</span></a></li>
                </ul>
            </li>
            <li id="menu-item-34847" class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-34847"><a href="https://www.idrivesafely.com/insurance-discount/"><span>Insurance Discounts</span></a></li>
            <li id="menu-item-34848" class="resources menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-34848"><a><span>Resources</span></a>
                <ul class="sub-menu">
                    <li id="menu-item-34849" class="dmv-resource menu-item menu-item-type-post_type menu-item-object-dmv_resource_page menu-item-34849"><a href="https://www.idrivesafely.com/dmv/"><span>DMV Resources</span></a></li>
                    <li id="menu-item-34850" class="driving-resources menu-item menu-item-type-post_type menu-item-object-resource_page menu-item-34850"><a href="https://www.idrivesafely.com/driving-resources/"><span>Driving Resources</span></a></li>
                </ul>
            </li>
            <li id="menu-item-34851" class="responsive-nav-blog menu-item menu-item-type-custom menu-item-object-custom menu-item-34851"><a href="https://www.idrivesafely.com/defensive-driving/trending/"><span>Trending</span></a></li>
        </ul>
    </div>
</nav>

