
<div class="above-footer widget-area">
    <div class="wrap">
        <div class="widget widget1">
            <div class="one-sixth first">
                <img src="{{asset 'paypal.png'}}" alt="PayPal" width="139" height="36" class="aligncenter paypal" />
            </div>
            <div class="one-sixth">
                <img src="{{asset 'amazon.png'}}" alt="Amazon Payments" width="92" height="57" class="aligncenter lazyload" />
            </div>
            <div class="one-sixth">
                <img src="{{asset 'credit-cards.png'}}" alt="Credit Cards" width="98" height="63" class="aligncenter lazyload" />
            </div>
            <div class="one-sixth">
                <a target="_blank" rel="nofollow" href="https://www.mcafeesecure.com/verify?host=www.idrivesafely.com"><img class="mfes-trustmark mfes-trustmark-hover aligncenter lazyload" border="0" src="{{asset '101.gif'}}" width="125" height="55" title="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" alt="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" oncontextmenu="alert('Copying Prohibited by Law - McAfee Secure is a Trademark of McAfee, Inc.'); return false;"></a>
            </div>
            <div class="one-sixth">
                <a href="javascript:win_popup('https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.idrivesafely.com&lang=en',560,495)"><img src="{{asset 'norton.png'}}" alt="Norton" class="aligncenter lazyload" /></a>
            </div>
            <div class="one-sixth bbb-seal-wrap">
                <img src="{{asset 'bbb-logo.png'}}" alt="I Drive Safely LLC BBB Business Review" class="lazyload">
            </div>
        </div>
    </div>
</div>
<div class="footer-widgets">
    <div class="wrap">
        <div class="widget-area footer-widgets-1 footer-widget-area">
            {{#link 'help_center'}}<img src="{{asset 'idrivesafely-stacked-blue-white.png'}}" alt="I Drive Safely logo" width="200" height="80" />{{/link}}
            <div  id="menu-connect"> 
                <ul class="menu menu-footer">
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/idrivesafely">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/idrivesafely">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse" aria-label="Facebook"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/user/idrivesafely">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x fa-inverse" aria-label="YouTube"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://in.linkedin.com/company/i-drive-safely--" >
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x fa-inverse" aria-label="LinkedIn"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget-area footer-widgets-2 footer-widget-area">
            <section id="nav_menu-5" class="widget widget_nav_menu">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle widgetittle">Products</h4>
                    <div class="menu-footer-nav-container">
                        <ul id="menu-footer-nav" class="menu">
                            <li id="menu-item-3535"
                                class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-3535">
                                <a href="https://www.idrivesafely.com/drivers-ed/">Drivers Ed</a>
                            </li>
                            <li id="menu-item-3538"
                                class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-3538">
                                <a href="https://www.idrivesafely.com/defensive-driving/">Defensive Driving</a>
                            </li>
                            <li id="menu-item-3537"
                                class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-3537">
                                <a href="https://www.idrivesafely.com/traffic-school/">Traffic School</a>
                            </li>
                            <li id="menu-item-3536"
                                class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-3536">
                                <a href="https://www.idrivesafely.com/driver-improvement/">Driver Improvement</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="widget-area footer-widgets-3 footer-widget-area">
            <section id="nav_menu-6" class="widget widget_nav_menu">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle">Company Info</h4>
                    <div class="menu-footer-nav-2-container">
                        <ul id="menu-footer-nav-2" class="menu">
                            <li id="menu-item-32990"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32990"><a href="https://www.idrivesafely.com/about-us/">About Us</a>
                            </li>
                            <li id="menu-item-32991"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-635 current_page_item menu-item-32991">
                                {{#link 'help_center'}}Help Center{{/link}}
                            </li>
                            <li id="menu-item-32992"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32992"><a href="https://www.idrivesafely.com/blog/">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="widget-area footer-widgets-4 footer-widget-area">
            <section id="nav_menu-7" class="widget widget_nav_menu">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle">About the Site</h4>
                    <div class="menu-footer-nav-3-container">
                        <ul id="menu-footer-nav-3" class="menu">
                            <li id="menu-item-32272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32272"><a href="https://www.idrivesafely.com/privacy-policy/">Privacy Policy</a>
                            </li>
                            <li id="menu-item-32273" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32273"><a href="https://www.idrivesafely.com/sitemap/">Sitemap</a>
                            </li>
                            <li id="menu-item-32274" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32274"><a target="_blank" href="https://www.idrivesafely.com/defensive-driving/trending/">Trending</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer class="site-footer">
    <div class="wrap">
        <p>
            <span class="one-third first"><span>
                &copy;2019&nbsp;&middot;</span><span>&nbsp;I Drive Safely&#174;</span>
            </span>
{{!-- Back to top --}}
            <span class="one-third">
                <a href="#top" class="top dashicons dashicons-arrow-up-alt">Top</a>
            </span>
            <span class="one-third tagline"><span>We Build Safer Drivers {{!-- replace with tagline setting --}}</span></span>
        </p>

    </div>
   
</footer>

<script type="text/javascript">

  var newDate = new Date();
  var year = newDate.getFullYear();

  $('#year').html(year);

</script>
<script type="text/javascript">
    var sticky_menu = 1;
    var manual_searchmsg = 'What are you looking for?';

	/**** DOCUMENTATION  ****/
	var doc_catpage_hash = 2;
	var doc_catpage_active = 2;
	var doc_cookie_sh = 2;
	var doc_scroll_menu_define_height = '401px';
	var go_up_icon = 'fa fa-arrow-up';
  var execute_js_after_ajax_call_pg_doc = '2';
	/*** FAQ ***/
	var faq_search_id = '';
</script>

</body>
</html>
