</div>
</div>
</div>
<div class="above-footer widget-area">
    <div class="wrap">
        <div class="widget widget1">
            <div class="one-sixth first">
                <img src="{{asset 'paypal.png'}}" alt="PayPal Logo" width="139" height="36" class="aligncenter paypal" />
            </div>
            <div class="one-sixth">
                <img src="{{asset 'amazon.png'}}" alt="Amazon Payments" width="92" height="57" class="aligncenter lazyload" />
            </div>
            <div class="one-sixth">
                <img src="{{asset 'credit-cards.png'}}" alt="Credit Cards" width="98" height="63" class="aligncenter lazyload" />
            </div>
            <div class="one-sixth">
                <a target="_blank" rel="nofollow" href="https://www.mcafeesecure.com/verify?host=www.idrivesafely.com"><img class="mfes-trustmark mfes-trustmark-hover aligncenter lazyload" border="0" src="{{asset '101.gif'}}" width="125" height="55" title="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" alt="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" oncontextmenu="alert('Copying Prohibited by Law - McAfee Secure is a Trademark of McAfee, Inc.'); return false;"></a>
            </div>
            <div class="one-sixth">
                <a href="javascript:win_popup('https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.idrivesafely.com&lang=en',560,495)"><img src="{{asset 'norton.png'}}" alt="Norton logo" class="aligncenter lazyload" /></a>
            </div>
            <div class="one-sixth bbb-seal-wrap">
                <img src="{{asset 'bbb-logo.png'}}" alt="I Drive Safely LLC BBB Business Review" class="lazyload">
            </div>
        </div>
    </div>
</div>
<div class="footer-widgets">
    <div class="wrap">
        <div class="widget-area footer-widgets-1 footer-widget-area">
            {{#link 'help_center'}}<img src="{{asset 'idrivesafely-stacked-blue-white.png'}}" alt="I Drive Safely {{t 'logo'}}" width="200" height="80" />{{/link}}
            <br />
            <br />
            <ul class="follow-us">
                <li><a href="http://www.facebook.com/idrivesafely" title="I Drive Safely on Facebook" class="facebook" target="_blank"></a></li>
                <li><a href="http://www.youtube.com/user/idrivesafely" title="I Drive Safely on Youtube" class="youtube" target="_blank"></a></li>
                <li><a href="https://twitter.com/idrivesafely" title="I Drive Safely on Twitter" class="twitter" target="_blank"></a></li>
                <li><a href="http://in.linkedin.com/company/i-drive-safely--" title="I Drive Safely on Linkedin" class="linkedin" target="_blank"></a></li>
            </ul>
        </div>
        <div class="widget-area footer-widgets-2 footer-widget-area">
            <section id="nav_menu-5" class="widget widget_nav_menu">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle widgetittle">Products</h4>
                    <div class="menu-footer-nav-container">
                        <ul id="menu-footer-nav" class="menu">
                            <li id="menu-item-3535"
                                class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-3535">
                                <a href="https://www.idrivesafely.com/drivers-ed/">Drivers Ed</a>
                            </li>
                            <li id="menu-item-3538"
                                class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-3538">
                                <a href="https://www.idrivesafely.com/defensive-driving/">Defensive Driving</a>
                            </li>
                            <li id="menu-item-3537"
                                class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-3537">
                                <a href="https://www.idrivesafely.com/traffic-school/">Traffic School</a>
                            </li>
                            <li id="menu-item-3536"
                                class="menu-item menu-item-type-post_type menu-item-object-category_products menu-item-3536">
                                <a href="https://www.idrivesafely.com/driver-improvement/">Driver Improvement</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="widget-area footer-widgets-3 footer-widget-area">
            <section id="nav_menu-6" class="widget widget_nav_menu">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle">Company Info</h4>
                    <div class="menu-footer-nav-2-container">
                        <ul id="menu-footer-nav-2" class="menu">
                            <li id="menu-item-32990"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32990"><a href="https://www.idrivesafely.com/about-us/">About Us</a>
                            </li>
                            <li id="menu-item-32991"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-635 current_page_item menu-item-32991">
                                {{#link 'help_center'}}Help Center{{/link}}
                            </li>
                            <li id="menu-item-32992"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32992"><a href="https://www.idrivesafely.com/blog/">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="widget-area footer-widgets-4 footer-widget-area">
            <section id="nav_menu-7" class="widget widget_nav_menu">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle">About the Site</h4>
                    <div class="menu-footer-nav-3-container">
                        <ul id="menu-footer-nav-3" class="menu">
                            <li id="menu-item-32272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32272"><a href="https://www.idrivesafely.com/privacy-policy/">Privacy Policy</a>
                            </li>
                            <li id="menu-item-32273" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32273"><a href="https://www.idrivesafely.com/sitemap/">Sitemap</a>
                            </li>
                            <li id="menu-item-32274" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32274"><a target="_blank" href="https://www.idrivesafely.com/defensive-driving/trending/">Trending</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer class="site-footer">
    <div class="wrap">
        <p>
            <span class="one-third first"><span>
                &copy;2019&nbsp;&middot;</span><span>&nbsp;I Drive Safely&#174;</span>
            </span>
{{!-- Back to top --}}
            <span class="one-third">
                <a href="#top" class="top dashicons dashicons-arrow-up-alt">Top</a>
            </span>
            <span class="one-third tagline"><span>We Build Safer Drivers</span></span>
        </p>

{{!-- Language or region selector --}}
        <div class="footer-inner">
            {{#link 'help_center'}}{{help_center.name}}{{/link}}
            <div class="footer-language-selector">
                {{#if alternative_locales}}
                    <div class="dropdown language-selector" aria-haspopup="true">
                        <a class="dropdown-toggle">
                            {{current_locale.name}}
                        </a>
                        <span class="dropdown-menu dropdown-menu-end" role="menu">
                            {{#each alternative_locales}}
                                <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                                    {{name}}
                                </a>
                            {{/each}}
                        </span>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var sticky_menu = 1;
    var manual_searchmsg = 'What are you looking for?';

	/**** DOCUMENTATION  ****/
	var doc_catpage_hash = 2;
	var doc_catpage_active = 2;
	var doc_cookie_sh = 2;
	var doc_scroll_menu_define_height = '401px';
	var go_up_icon = 'fa fa-arrow-up';
    var execute_js_after_ajax_call_pg_doc = '2';

	/*** FAQ ***/
	var faq_search_id = '';
</script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<script type="text/javascript">
/* <![CDATA[ */
var myAjax = {"ajaxurl":"https:\/\/help.aceable.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="{{asset 'jquery.js'}}"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" defer="defer" src="https://help.aceable.com/wp-content/themes/manual/js/imagesloaded.js"></script>
<script type="text/javascript" defer="defer" src="https://help.aceable.com/wp-content/themes/manual/js/advsearch.js"></script>
<script type="text/javascript" defer="defer" src="{{asset 'js_composer_front.js'}}"></script>
<script type="text/javascript" defer="defer" src="{{asset 'jquery-migrate.min.js'}}"></script>
<script type="text/javascript" defer="defer" src="{{asset 'jquery-modal.min.js'}}"></script>
<script type="text/javascript" defer="defer" src="{{asset 'custom-minified.js'}}"></script>
<script type="text/javascript" defer="defer" src="{{asset 'ace-footer.js'}}"></script>
<script type="text/javascript" defer="defer" src="{{asset 'faq.min.js'}}"></script>
<script type="text/javascript" src="{{asset 'mdc.js'}}"></script>
<script type="text/javascript" src="{{asset 'typeahead.bundle.js'}}"></script>
</body>
</html>
